.btn {
    padding: 30px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    padding: 15px;
    background-color: #0d0e0e;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px #2f383c;
    min-width: 120px;
    margin: 5px 15px;
    max-width: 160px;
  }
  
  .btn-sm {
    font-size: 10px;
  }
  
  .logo-btn {
    min-width: 10px;
  }
  
  .bcBtn {
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    /* display: none; */
  }
  
  .logo-btn {
    min-width: 10px;
  }
  
  .bcBtn {
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    /* display: none; */
  }
  
  .btn:hover {
    background-color: #000;
  }
  
  .btn:active {
    transform: translateY(4px);
  }
  
  .inputLabel {
    display: flex;
    flex-direction: column;
    /* width: 40vw; */
    min-width: 240px;
    margin: 7px 0px;
    font-size: 17px;
    font-weight: bold;
    color: whitesmoke;
  }
  
  .inputLabelHalf {
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-width: 140px;
    margin: 7px 0px;
    font-size: 17px;
    font-weight: bold;
  }
  
  .inputBox {
    padding: 12px 5px;
    border-radius: 10px;
    border: 2px solid #7c828d;
    font-size: 15px;
    margin: 7px 0px;
    color: black;
  }
  
  .inputBoxHalf {
    padding: 12px 5px;
    border-radius: 10px;
    border: 2px solid #7c828d;
    font-size: 15px;
    margin: 7px 0px;
    width: 50%;
  }
  
  .inputDescription {
    font-size: 12px;
    font-weight: normal;
    color: #7c828d;
  }
  
  .txt {
    color: whitesmoke;
  }
  
  .errorBox {
    width: 100%;
    padding: 10px;
    background-color: #983634;
    border-radius: 15px;
    border: 2px solid rgb(176, 10, 10);
  }
  
  .errorBox h3 {
    color: white;
  }
  
  .errorBox p {
    color: white;
  }
  
  .successBox {
    position: fixed;
    min-width: 250px;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 2;
    padding: 10px;
    background-color: #349848;
    border-radius: 15px;
    border: 2px solid rgb(10, 176, 18);
  }
  
  /* .successBox h3{
    
  } */
  
  .successBox p {
    margin-top: -12px;
  }
  
  .loaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notify:hover {
    color: #9925ad;
    cursor: pointer;
  }
  
  @media screen and (max-width: 700px) {
    .lottie {
      width: 350px;
      height: 3350px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .lottie {
      width: 200px;
      height: 200px;
    }
  }
  
  .nftcard {
    width: 99%;
    /* height: 100px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom right, #070607, #373636);
    border-radius: 10px;
    border: 1px solid #595959;
    padding: 25px;
    /* border: 4px solid #000; */
  }
  
  /* .nftcard:hover{
      border: 3px solid #9925ad;
  } */
  
  .nftcard h5 {
    margin-top: -20px;
    color: #aaaaaa;
  }
  
  .nftImg {
    border-radius: 10px;
    width: 80%;
    height: 50%;
  }
  
  .nftpricesRow {
    display: flex;
    padding: 15px;
  }
  
  .nftpricesele {
    margin: 0 10px;
    font-weight: bold;
  }
  
  .nftcardHead {
    padding: 0px 10px;
  }
  
  /* .bc-btn{
    position: fixed;
    top: 5;
    right: 5;
  } */
  