@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


// colors 
$blue : #3386F9;
$blue_dark : #0046CC;
$dark : #000;
$dark_light : #191919;
$white : #fff;
$white_dark : #727272;



// fonts
$montes : 'Montserrat', sans-serif;
$poppins : 'Poppins', sans-serif;
$quicks : 'Quicksand', sans-serif;


// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;