@import "./navbar.scss";
@import "./frontpages.scss";
@import "./footer.scss";


.dwar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
    &.remove{
        overflow: hidden;
    }
}