.start-form{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-form-body {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #23242a;


    display: flex;
    justify-content: center;
    align-items: center;


}

.box {
    position: relative;
    width: 380px;
    height: 65vh;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;


}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}


.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #a2eb79, #a2eb79, #a2eb79);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -2.3s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent, #a2eb79, #a2eb79, #a2eb79);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -5.3s;
}


@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form .txt {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;

}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent ;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{

    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

}

.box form .inputBox input:valid ~ span, 
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}


.box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i, 
.box form .inputBox input:focus ~ i
{
    height: 44px;
}

.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff ;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 60px;
    color: black;

}

.box form input[type="submit"]:active{
    opacity: 0.8;
    
}


// -------------------------------------------------------------------------------------

// .authContainer{
//     margin-top: 30px;
//     border: 2px solid rgba(236, 229, 229, 0.856);
//     border-radius: 10px;
//     padding: 8%;
//     // width: 30rem;


//     width: 500px;
//     height: 100%;
//     background: opacify($color: #acb1b991, $amount: 0);

//     // background: rgb(255, 255, 255, 0.3);
//     // margin: 20px;
//     box-shadow: 0 15px 35px rgba(193, 178, 178, 0.05);
//     border-radius: 15px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     backdrop-filter: blur(5px);
//     z-index: 1;

// }

// .authcenter{

//     width: 80rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     font-size: 1.1rem;
//     transition: 0.5s;

// }

// .inputLabel{
//     justify-content: space-between;
//     width: 35rem;
//     // margin: 0.6rem;
//     display: flex;
//     flex-direction: row;



//     color: #fff;
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     font-weight: 500;
//     font-size: 1.2rem;
//     text-align: center;
//     align-items: center;
//     margin: 20px 0 10px;
//     line-height: 1.1em;

// }

// .inputBox{
//     font-size: 1.4rem;
//     border-radius: 8px;
//     padding-left: 8px;
//     height: 30px;

//     text-align: center;
//     align-items: center;
//     justify-content: center;

//     color: #fff;
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     font-weight: 500;
//     font-size: 18px;
//     text-align: center;
//     margin: 20px 0 10px;
//     line-height: 1.1em;

// }