.dwar-navbar-container{
    width: 90%;
    height: 60px;
    padding: 10px 5%;
    display: flex;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    backdrop-filter: blur(10px);
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.dwar-logo-container{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 5px;
    a{
        width: fit-content;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 30px;
            width: auto;
        }
    }
}
.dwar-element-container{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .dwar-list-container{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px 0 10px;
        a{
            text-decoration: none;
            border: none;
            font-family: $quicks;
            font-weight: 500;
            margin: 0 10px;
            color: $white;
            font-size: 16px;
            transition: all 0.3s;
            &:hover{
                color: $blue_dark;
            }
        }
    }
    .dwar-btn-container{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 100px;
            height: 30px;
            border-radius: 20px;
            background-color: $blue;
            text-align: center;
            color: $white;
            border: 2px solid $blue;
            transition: all 0.3s;
            cursor: pointer;
            &:hover{
                background-color: transparent;
            }
        }
    }
}