.dwar-form-container {
    width: 100%;
    height: 90%;
    max-height: 90%;
    padding: 5% 0;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .output-qr {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 300px;
            height: 300px;
            margin: 20px 0;
            border-radius: 5px;
        }
        button {
            width: fit-content;
            height: fit-content;
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: $dark;
            color: $font-light;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color: $white;
            }
        }
    }
}

.dwar-form-main {
    width: 50%;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $card;
    .txt {
        width: 100%;
        height: fit-content;
        text-align: center;
        margin: 5px 0 30px 0;
        h1 {
            font-size: 30px;
            font-family: $poppins;
            font-weight: 700;
        }
    }
    .inputLabel {
        width: 80%;
        max-width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        .inputBox {
            max-width: 100%;
            min-width: 100%;
            outline: none;
            border: none;
        }
        p {
            font-size: 16px;
            font-family: $poppins;
            font-weight: 400;
            color: $font-light;
            margin: 3px 0;
            .inputDescription {
                font-size: 16px;
                font-family: $poppins;
                font-weight: 400;
                color: $font-light;
            }
        }
        .inputBox {
            border: none;
            outline: none;
            background-color: $card;
            color: $font-light;
        }
    }
    .form-submit {
        width: 100%;
        height: fit-content;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-submit-button {
            width: fit-content;
            height: 40px;
            padding: 5px 30px;
            border-radius: 5px;
            border: none;
            text-align: center;
            outline: none;
            cursor: pointer;
            // border: 2px solid $blue;
            background: $dark;
            transition: all 0.3s ease;
            color: $font-light;
            &:hover {
                color: $white;
            }
        }
    }
}
