@import "./card.scss";
@import "./left.scss";
@import "./right.scss";

.main-dwar-profile-body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}