@import "./card.scss";
@import "./left.scss";
@import "./right.scss";
@import "./form.scss";
@import "./scan.scss";
@import "./model.scss";

.main-dwar-profile-body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .dwar-navbar-container{
        visibility: hidden;
    }
}